$primary-color: #a5c965;
$secondary-color: #98d648;
$light-color: #f3f3f3;
$dark-color: #333333;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #808080;
$dark-gray: #444444;
$light-gray: #C6C6C9;
$white-gray: #f0f0f3;
$primary2-color: #31c94a;
$btn-sec-color: #4096e3;
$btn-sec-hover: #297ee3;
$link-color: #0e8fda;
$link-hover: #0746da;
$link-back: rgba(102, 202, 255, 0.05);
$link-back2: rgba(102, 202, 255, 0.19);
$title-color: #023f88;
$max-width: 1100px;
$max2-width: 1700px;
$old-price: #a6a5a5;
$price:#f84147;
$error: rgb(255, 133, 133);
$delete: #f81021;
$brn-remove: #b4b4b7;