{% extends 'base3-category.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="about_container">О Нас</h1>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}