.whole-cart{
    margin: 0 15vw;
}
.cart-products .cart-product_item{
    display: grid;
    grid-template-columns: 15% 40% 20% 20% 5%;
}
.cart-product_item{
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light-gray);
}
.item-img{
    width: 100%;
    max-width: 130px;
    max-height: 100px;
}
.item-price{
    margin: 5px 0;
}
.cart-price{
    padding: 5px;
    background-color: var(--link-back2);
    font-size: 1.3em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.cart-amount{
    padding: 28px 0;
}
.total-price-item{
    padding: 20px 0;
}
.cart-amount input{
    width: 30px;
    height: 30px;
    padding: 2px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--light-gray);
}
.cart-amount input:active,
.cart-amount input:focus{
    border: 1px solid green;
}
.minus, .plus{
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding: 5px;
}
.total-price{
    font-size: 1.6em;
}
.delete-item{
    position: relative;
}
.btn-remove{
    top: 6px;
    right: 6px;
    width: 32px;
    height: 32px;
    background-color: transparent;
}
.btn-remove i {
    font-size: 16px;
}
.cart-purchase{
    margin-bottom: 40px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.btn-back{
    background-color: var(--btn-sec-color);
    color: var(--white-color);
}
.btn-back:hover{
    background-color: var(--btn-sec-hover);
}
.btn-back,
.btn-checkout{
    display: block;
    width: 192px;
    height: 40px;
}
.checkout-price{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 65% 35%;
    font-size: 1.6em;
}
.body-check{
    grid-column: 2 / span 2;
}
.body-check > div{
    display: flex;
    justify-content: space-between;
}
