/*----------------------Category Dropdown Menu----------------------*/
.nav-category{
    height: 100%;
    position: relative;
}
.btn-category:hover{
    background-color: var(--secondary-color);
}
.category {
    position: absolute;
    display: none;
    width: 328px;
    height: auto;
    top: 100%;
    left: 0;
    background: var(--white-color);
    border-right: 1px solid var(--light-gray);
    z-index: 3;
}
.btn-category:hover > .category{
    display: block;
}

/*----------------------Category Dropdown Menu-end----------------------*/