/*-------------------------Content Page-------------------------*/
/*-----------Slider-----------*/
.slide-container{
    margin-top: 15px;
    grid-column: 2 / span 2;
}
/* сам слайдер */

.slider{
    padding-left: 10px;
    max-width: 100%;
    position: relative;
    max-height: 450px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    max-height: 450px;
    border: none;
    box-shadow: none;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 6px;
    width: 40px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 10%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: var(--secondary-color);
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*-----------Slider-end-----------*/


/*-----------Product-----------*/
.layout .product{
    margin: .25rem 0;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: .5rem;
    margin-left: .5rem;
    margin-bottom: 50px;
    grid-column: 2 / span 2;
}
.product-heading{
    grid-column: 1 / span 4;
    font-weight: 500;
    font-size: 22px;
    background: var(--dark-color);
    color: var(--secondary-color);
    padding-left: 20px;
    border-radius: 20px;
}
.product-heading i {
    font-size: 24px;
    color: var(--secondary-color);
}
.card:hover {
    box-shadow: 0 0 27px 0 rgba(0,0,0,1);
}
.product-img {
    margin-bottom: 10px;
}
.card-img{
    width: 310px;
    height: 217px;
}
.card-comment {
    line-height: 1;
}
.card-comment > a {
    font-size: .7rem;
}
.card-comment > a:hover {
    text-decoration: underline;
}
.card-title > a {
    line-height: 1.2;
    font-size: 1.2rem;
}
.card-old-price {
    line-height: 1.5;
}
/*style*/
.card-old-price > s {
    font-size: .8rem;
}
/*style*/
.card-price {
    font-size: 1.5rem;
}
/*Button Buy*/
.card-buy > .buy-btn{
    width: 98%;
    height: 100%;
}
.card-buy > .buy-btn > i{
    font-size: 20px;
}
.card-buy > .buy-btn > span{
    padding-left: 3px;
    font-size: 18px;
}
/*Button Buy-end*/
.wish {
    width: 32px;
    height: 32px;
}
.wish i {
    padding-top: 2px;
    font-size: 19px;
}
.compare {
    width: 32px;
    height: 32px;
}
.compare i {
    padding-top: 2px;
    font-size: 18px;
}
/*-----------Product-end-----------*/

/* PAGINATION */
.center-lister{
    display: flex;
    justify-content: center;
}
/*-------------------------Content Page-end-------------------------*/
