/* ===================   Product Price    =================== */
.price-new, .price-old, .price {
    display: inline-block;
    line-height: 24px;
}
.price-new, .price {
    font-size: 18px;
    color: #333;
    font-weight: 400;
}
.price-old {
    text-decoration: line-through;
    font-weight: 300;
    color: #fe5a5a;
    font-size: 14px;
    line-height: 1.2em;
}
.price-section {
    margin: 15px 0;
}
.price b {
    font-weight: 700;
}
.price s {
    color: #fe5a5a;
    font-size: 14px;
}
.stock, .out-stock {
    font-weight: 700;
}
.out-stock {
    color: #EE372A;
}
/* ===================   Product Price-end   =================== */