
/*______________________________Bootstrap Reset-end______________________________*/
.breadcrumb a {
    color: #98d648;
}
/* IMG-BUTTON */
.product-gallery .cart-button {
    position: absolute;
    z-index: 99;
    right: -1px;
    bottom: 10px;
    width: 37px;
    display: inline-block;
}
.btn-icon {
    font-size: 16px;
    line-height: 45px;
    width: 43px;
    height: 45px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
}
.btn-icon, .btn-icon:visited {
    color: #fff;
    background: #98d648;
}
.btn-icon:hover, .btn-icon:focus, .btn-icon:active {
    color: #fff;
    background-color: #333;
}
.product-gallery .cart-button .btn-icon + .btn-icon {
    margin-top: 2px;
}
/*______________________________IMG-BUTTON-end______________________________*/

/*______________________________PRODUCT INFO______________________________*/
.product-title {
    margin: 0 0 20px;
}
.general_info {
    margin-top: -2px;
    line-height: 20px;
}
.general_info h2.product-title {
    margin-bottom: 3px;
}
.general_info .product-section {
    font-weight: 400;
    margin: 15px 0 0;
    padding-bottom: 10px;
}
.general_info .product-section strong {
    color: #333;
}
.general_info .product-section {
    padding: 10px 0;
}
.general_info .product-section strong + span.stock {
    color: #777;
}
.general_info a {
    color: #98d648;
}
.general_info a:hover {
    color: #333;
}

#content .product-info ul.list-unstyled a:before {
    display: none;
}
/*RATING*/
.product-rating-status {
    line-height: 16px;
}
.product-rating-status .review-link {
    position: relative;
    padding-left: 7px;
    margin-left: 7px;
    font-size: 14px;
    position: relative;
    margin-left: 10px;
    vertical-align: top;
}
.product-rating-status .review-link:before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    bottom: -4px;
    width: 1px;
    background: #eeeeee;
}
.rating-section .fa-stack {
    width: .7em;
}
.rating-section a {
    cursor: pointer;
}
.product-rating-status .review-link {
    position: relative;
    padding-left: 7px;
    margin-left: 7px;
    font-size: 14px;
    position: relative;
    margin-left: 10px;
    vertical-align: top;
}
.product-rating-status .review-link:before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    bottom: -4px;
    width: 1px;
    background: #eeeeee;
}
/*______________________________RATING-end______________________________*/
#product {
    margin-top: 15px;
}
#product .input-group[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
#product label.control-label {
    color: #777;
}
#product .quantity {
    margin-top: 0;
}
#product .quantity label {
    margin-right: 10px;
}
#product #button-cart {
    margin: 0 0 10px;
}
#product .price-section {
    margin-top: 17px;
}
#product .price-section .price-new, #product .price-section .price {
    font-size: 30px;
    line-height: 30px;
    color: #333;
    font-weight: 700;
}
#product .price-section .price-old {
    margin-left: 0;
    margin-right: 5px;
}
#product .product-countdown {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0 0 5px 0;
    margin-bottom: 15px;
    background: none;
    color: #777;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#product .product-countdown li {
    font-size: 16px;
    padding-top: 5px;
}
#product .product-countdown li.cell {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background: #98d648;
    padding: 5px 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#product .product-countdown li span {
    font-size: 14px;
}
#product .product-countdown li + li {
    margin-left: 5px;
}
.quantity {
    display: inline-block;
    position: relative;
}
.quantity > label {
    font-size: 14px;
    margin-bottom: 0;
}
.quantity input[name*="quantity"] {
    height: 33px;
    padding-top: 2px;
    padding-bottom: 1px;
}
input[name*="quantity"] {
    display: inline-block;
    width: 50px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}
.form-horizontal .control-label, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0;
}
div.required .control-label:after {
    content: '*';
    color: red;
    margin-left: 1px;
}
.product-options .control-label {
    text-align: left;
    margin: 0 0 10px;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.option-color .control-label {
    vertical-align: top;
    line-height: 27px;
    margin: 0 11px 0 0;
}
.option-select > .control-label {
    vertical-align: top;
    line-height: 43px;
    margin: 0 12px 5px 0;
}
.product-filter label.control-label {
    font-size: 14px;
}
.product_tabs {
    margin: 30px 0 30px;
}
.product_tabs:before, .product_tabs:after {
    display: table;
    content: "";
    line-height: 0;
}
.product_tabs:after {
    clear: both;
}
.product_tabs .nav-tabs > li > a {
    margin-left: 0;
}
.product_tabs .tab-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
}
.product_tabs .rating {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.product_tabs .rating span:first-child {
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 5px;
}
.product_tabs .review-score .fa-stack {
    margin-bottom: 14px;
}
.product_tabs .review-item {
    padding: 28px 20px 20px 30px;
    background: #f7f7f7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.product_tabs .review-item .review-date {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 4px;
}
.product_tabs .review-item .review-author {
    text-transform: uppercase;
}
.product_tabs .review-item .review-author i {
    display: inline-block;
    color: #98d648;
    font-size: 18px;
    font-weight: 400;
    margin-right: 5px;
    vertical-align: top;
}
@media (max-width: 767px) {
    .product_tabs .nav-tabs, .product_tabs .tab-content {
        width: 100%;
        float: none;
        padding-left: 0;
    }
    .product_tabs .nav-tabs > li > a {
        font-size: 13px;
    }
    .product_tabs .nav-tabs > li.active > a {
        background: none;
    }
    .product_tabs .tab-content {
        border-left: none;
        padding: 20px 0;
    }
}
.product-reviews input[type="radio"] {
    display: inline;
    outline: none;
}
.product-reviews input[type="radio"]:focus {
    outline: none;
}
.product-reviews .review-item {
    margin-bottom: 2em;
}
.nav-tabs {
    margin-bottom: 26px;
    border-bottom: 1px solid #eeeeee;
}
.nav-tabs > li > a {
    border-radius: unset;
    color: #999;
    font-weight: 400;
}
.nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
    color: #98d648;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #98d648;
    background: none !important;
    border: none !important;
}
.nav.nav-tabs > li + li {
    margin-left: 17px;
}
.nav.nav-tabs > li > a {
    padding: 0;
    text-transform: capitalize;
    font: 500 16px/32px "Ubuntu", sans-serif;
    white-space: nowrap;
    border: none !important;
}
.nav.nav-tabs > li > a:hover {
    border: none !important;
}
.review-form-title {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 400;
}
.review-form-title .btn-primary {
    display: inline-block;
    cursor: pointer;
}
@media (min-width: 768px) {
    .review-form-title .btn-primary {
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }
}
.related-block {
    margin-bottom: 16px;
}
.related-block .swiper-slide + .swiper-slide {
    border-left: 1px solid #eeeeee;
}
.related-block .swiper-viewport {
    width: auto;
}
.related-block .box-content {
    position: relative;
}
.related-block .product-thumb .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 767px) {
    .related-block .swiper-slide {
        text-align: center;
    }
    .related-block .swiper-slide .product-thumb {
        display: inline-block;
    }
}
aside .swiper-container div.swiper-button-prev, #column-left .swiper-container div.swiper-button-prev, #column-right .swiper-container div.swiper-button-prev, .col-sm-3 .swiper-container div.swiper-button-prev, .related-block .swiper-container div.swiper-button-prev, .testimonials .swiper-container div.swiper-button-prev, aside .swiper-container div.swiper-button-next, #column-left .swiper-container div.swiper-button-next, #column-right .swiper-container div.swiper-button-next, .col-sm-3 .swiper-container div.swiper-button-next, .related-block .swiper-container div.swiper-button-next, .testimonials .swiper-container div.swiper-button-next {
    right: 5px;
}
.related-block .swiper-container div.swiper-button-prev, .related-block .swiper-container div.swiper-button-next {
    top: 40%;
}
aside .swiper-container .swiper-button-prev, #column-left .swiper-container .swiper-button-prev, #column-right .swiper-container .swiper-button-prev, .col-sm-3 .swiper-container .swiper-button-prev, .related-block .swiper-container .swiper-button-prev, .testimonials .swiper-container .swiper-button-prev {
    right: auto;
    left: 5px;
}
/*______________________________PRODUCT INFO-end______________________________*/
/*=============== Responsive ====================*/
@media (max-width: 767px) {
    .nav.nav-tabs > li + li {
        margin-left: 15px;
    }

    .nav-tabs {
        padding-right: 55px;
    }
}
@media (max-width: 480px) {
    .nav-tabs {
        padding-left: 0;
        padding-right: 45px;
        font-size: 13px;
    }

    .nav.nav-tabs > li > a {
        font-size: 13px;
    }
    .nav.nav-tabs > li + li {
        margin-left: 2px;
        margin-right: 2px;
    }
}
.product-video .r_frame {
    position: relative;
    padding-bottom: 50%;
}
.product-video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
}
/*=============== Responsive-end ====================*/
/*========================================================
                 Responsive styles Buttons
=========================================================*/
@media (max-width: 479px) {
    #product button#button-cart {
        display: block;
        margin: 15px 0 20px;
    }
}
/*========================================================
                      Form Styles
=========================================================*/
@media (min-width: 768px) {
    fieldset .form-group > .control-label {
        padding-top: 3px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .btn-icon {
        line-height: 35px;
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 767px) {
    .btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
        font-size: 13px;
    }
    .btn i, .btn-default i, .btn-primary i, .btn-success i, .btn-info i, .btn-warning i, .btn-danger i {
        font-size: 22px;
    }

    #grid-view, #list-view {
        display: none;
    }

    .product-thumb .image > .quickview {
        display: none;
    }

    .product-thumb .image .cart-button {
        margin-left: -37px;
    }

    .quickview {
        display: none !important;
    }
}
@media (max-width: 479px) {
    .buttons .pull-left {
        margin-left: 0;
        margin-right: 10px;
    }
    .buttons .pull-right {
        float: none !important;
        margin-left: 0;
    }

    #product button#button-cart {
        display: block;
        margin: 15px 0 20px;
    }
}
@media (max-width: 410px) {
    .account-address .table td a {
        display: block;
    }
    .account-address .table td a + a {
        margin-top: 5px;
    }
}
/*=============== Form Styles-end ====================*/
/* ===================   Product Price    =================== */
.price-new, .price-old, .price {
    display: inline-block;
    line-height: 24px;
}
.price-new, .price {
    font-size: 18px;
    color: #333;
    font-weight: 400;
}
.price-old {
    text-decoration: line-through;
    font-weight: 300;
    color: #fe5a5a;
    font-size: 14px;
    line-height: 1.2em;
}
.price-section {
    margin: 15px 0;
}
.price-section .reward {
    display: block;
    margin-top: 10px;
}

.text-price {
    font-weight: 700;
}
.price-tax {
    font-size: 13px;
}

.price b {
    font-weight: 700;
}
.price s {
    color: #fe5a5a;
    font-size: 14px;
}
.stock, .out-stock {
    font-weight: 700;
}
.out-stock {
    color: #EE372A;
}
.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}
/*=============== Product Price-end ====================*/
/*================   Product Buttons BEGIN   ===============*/
.product-btn {
    background: none;
    padding: 0;
    line-height: 19px;
}
.product-btn i {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    height: 19px;
    margin-right: 8px;
    color: #98d648;
    vertical-align: top;
}
@media (min-width: 768px) {
    .product-btn i {
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }
}
.product-btn span {
    vertical-align: top;
}
.product-btn, .product-btn:visited {
    color: #777;
}
.product-btn:hover, .product-btn:focus, .product-btn:active {
    color: #333;
}
.product-btn:hover i, .product-btn:focus i, .product-btn:active i {
    color: #333;
}
.product-btn:first-child {
    margin-right: 10px;
}
/*=============== Product Buttons-end ====================*/
/* ================   Product page buttons  =============== */
#button-cart {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
#button-cart:disabled {
    pointer-events: none;
    opacity: .5;
}
/*========================================================
               Responsive Styles Product
=========================================================*/
@media (min-width: 768px) {
    .product-reviews .fa-stack {
        font-size: 14px;
    }
}
/*========================================================
               Table
=========================================================*/
.leftcol {
    width: 50%; /* Ширина левой колонки */
}
.rightcol {
    width: 50%;
}