html, body{ height:100%; margin:0; }

body {
    position: relative;
    background: #fff;
    min-height: 45rem;
    padding-bottom: 80px;

}
/*========================================================
                   Bootstrap Reset
=========================================================*/
button, .btn {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
}
@media (min-width: 768px) {
    button, .btn {
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }
}
/* FOOTER */
footer {
    background: #a5c965;
    padding-top: 40px;
    margin-top:auto; /* important */
}
footer a {
    color: #f8f9fa!important
}


/* NAVIGATION */

.navbar-bg {
    background: url('../images/nav-bar.png');
    background-size: 80%;
}

.dropdown-menu, .dropdown-menu.show {
    right: 0;
}

.main-brand {    /*space-brand*/
    color: #fff;
    font-weight: bold;
}

.nav-profile-img {
    width: 50px;
    border: 1px solid #fff;
}


/* LOGIN REGISTRATION */


.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #305665;
}


/* PROFILE */

.profile-img {
    width: 150px;
    height: auto;
    border: 2px solid #fff;
}

.profile-name {
    font-size: 1.5em;
}

/* SLIDER */
.cover-slides{
    height: 100vh;
}
.slides-navigation a {
    background: #b0b435;
    position: absolute;
    height: 70px;
    width: 70px;
    top: 50%;
    font-size: 20px;
    display: block;
    color: #fff;
    line-height: 90px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.slides-navigation a i{
    font-size: 40px;
}
.slides-navigation a:hover {
    background: #000000;
}
.cover-slides .container{
    height: 100%;
    position: relative;
    z-index: 2;
}
.cover-slides .container > .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cover-slides .container > .row {
    height: 100%;
}
.overlay-background {
    background: #333;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.cover-slides h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #fff;
}
.cover-slides p{
    font-size: 18px;
    color: #fff;
    padding-bottom: 30px;
}
.slides-pagination a{
    border: 2px solid #ffffff;
    border-radius: 6px;
}
.slides-pagination a.current{
    background: #b0b435;
    border: 2px solid #b0b435;
}
.cover-slides p a{
    font-size: 24px;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
}

/* CATEGORIES */
.categories-shop{
    padding: 70px 0px;
}

.shop-cat-box{
    margin-bottom: 30px;
    position: relative;
    padding: 3px;
    overflow: hidden;
    border: 0px solid #000000;
    box-shadow: 9px 9px 30px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease-in-out 0s;
}
.shop-cat-box img{
    margin: -10px 0 0 -10px;
    max-width: none;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    opacity: 0.9;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.shop-cat-box:hover img{
    opacity: 0.6;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.shop-cat-box a{
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0px;
}

.hvr-hover{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #b0b435;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0;
    box-shadow: none;
}
.hvr-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-hover:hover::after{
    -webkit-transform: scale(2);
    transform: scale(2);
    color: #ffffff;
}
.hvr-hover{
    overflow: hidden;
}

/* PRODUCTS */
.products-box{
    padding: 70px 0px;
}

.title-all{
    margin-bottom: 30px;
}
.title-all h1{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}
.title-all p{
    color: #999999;
    font-size: 16px;
}
.special-menu{
    margin-bottom: 40px;
}
.filter-button-group{
    display: inline-block;
}
.filter-button-group button{
    background: #b0b435;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 18px;
}
.filter-button-group button.active{
    background: #000000;
}
.filter-button-group button{
}
.products-single {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.products-single .box-img-hover{
    overflow: hidden;
    position: relative;
}
.box-img-hover img{
    margin: 0 auto;
    text-align: center;
    display: block;
}
.type-lb{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:8;
}
.type-lb .sale{
    background: #b0b435;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.type-lb .new{
    background: #000000;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.mask-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.mask-icon ul{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.mask-icon ul li{
    background: #b0b435;
}
.mask-icon ul li a{
    color: #ffffff;
    padding: 5px 10px;
    display: block;
}
.mask-icon a.cart{
    background: #b0b435;
    position: absolute;
    bottom: 0;
    left: 0px;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}
.mask-icon a.cart:hover{
    background: #000000;
    color: #ffffff;
}
.mask-icon ul li a:hover{
    background: #000000;
    color: #ffffff;
}
.products-single .mask-icon{
    background: rgba(1,1,1, 0.5);
    top: -100%;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}
.products-single:hover .mask-icon{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}
.why-text{
    background: #f5f5f5;
    padding: 15px;
}
.why-text h4{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}
.why-text h5{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    display: inline-block;
    background: #b0b435;
    color: #ffffff;
    font-weight: 600;
}
/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fff;
  margin-top: 10px;
}

/* CARD TEXT */
.text-hiden{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
/* PAGINATION */
.center-lister{
    display: flex;
    justify-content: center;
}
/*========================================================
                      Form Styles
=========================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
    .account-wishlist table td .btn {
        padding: 10px;
    }
    .btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
        font-size: 14px;
    }
    .btn i, .btn-default i, .btn-primary i, .btn-success i, .btn-info i, .btn-warning i, .btn-danger i {
        font-size: 22px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .table-bordered > tbody > tr > .text-right {
        padding: 5px;
    }
    .account-wishlist table td .btn {
        padding: 6px;
    }
    .btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn i, .btn-default i, .btn-primary i, .btn-success i, .btn-info i, .btn-warning i, .btn-danger i {
        font-size: 18px;
        line-height: 18px;
        height: 18px;
    }
}
@media (max-width: 767px) {
    .btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
        font-size: 13px;
    }
    .btn i, .btn-default i, .btn-primary i, .btn-success i, .btn-info i, .btn-warning i, .btn-danger i {
        font-size: 22px;
    }
}
/* ================   Default Buttons BEGIN   =============== */
.btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 700;
    background: none;
    border: none !important;
    text-shadow: none;
    padding: 10px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.btn i, .btn-default i, .btn-primary i, .btn-success i, .btn-info i, .btn-warning i, .btn-danger i {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    height: 25px;
}
@media (min-width: 768px) {
    .btn i, .btn-default i, .btn-primary i, .btn-success i, .btn-info i, .btn-warning i, .btn-danger i {
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }
}
.btn i, .btn span, .btn-default i, .btn-default span, .btn-primary i, .btn-primary span, .btn-success i, .btn-success span, .btn-info i, .btn-info span, .btn-warning i, .btn-warning span, .btn-danger i, .btn-danger span {
    vertical-align: top;
    margin-left: 3px;
    margin-right: 3px;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .btn i, .btn span, .btn-default i, .btn-default span, .btn-primary i, .btn-primary span, .btn-success i, .btn-success span, .btn-info i, .btn-info span, .btn-warning i, .btn-warning span, .btn-danger i, .btn-danger span {
        margin-left: 1px;
        margin-right: 1px;
    }
}
.btn, .btn:visited, .btn-default, .btn-default:visited, .btn-primary, .btn-primary:visited, .btn-success, .btn-success:visited, .btn-info, .btn-info:visited, .btn-warning, .btn-warning:visited, .btn-danger, .btn-danger:visited {
    color: #fff;
    background-color: #5e5e5e;
}
.btn:hover, .btn:focus, .btn:active, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    color: #fff;
    background-color: #333;
    outline: none !important;
}
.btn-primary, .btn-primary:visited, .btn-success:hover, .btn-success:focus{
    color: #fff;
    background-color: #98d648;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
    color: #fff;
    background-color: #333;
}
.btn-primary:hover i, .btn-primary:focus i, .btn-primary:active i, .btn-primary:active:focus i, .btn-primary:active:hover i {
    color: #98d648;
}