.account-wishlist .table.table-bordered tr td:nth-child(6) {
    min-width: 150px;
}
@media (max-width: 500px) {
    .account-wishlist #content .table td:first-child, .account-wishlist #content .table td:nth-child(3) {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .account-wishlist table td .btn {
        padding: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .account-wishlist table td .btn {
        padding: 6px;
    }
}
#content {
    padding-bottom: 40px;
}