<li>
    <a class="sonata-action-element" href="{{ path('export_product') }}">
        <i class="fa fa-arrow-circle-o-down custom-file-export">Export Product</i>
    </a>
</li>
<style>
    i {
        font-weight: bold;
    }
    .custom-file-export {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 10px 14px;
        cursor: pointer;
    }
</style>