{% extends 'base3-category.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('emptySearch') }}
    {% endblock %}

{% block body %}
        <div class="search_result">
            <svg class="search_result_icon">
                <use xlink:href="#icon-catalog-arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <symbol viewBox="0 0 24 24" id="icon-catalog-arrow">
                        <path d="m7.70711 4.2928-3.70711-3.707107-3.707107 3.707107c-.3905241.39052-.3905241 1.02369 0 1.41421.390524.39053 1.023687.39053 1.414217 0l1.30986-1.30986c.12485 4.95608.9705 9.25025 3.58009 12.48115 2.87683 3.5618 7.70904 5.611 15.33644 6.1195.551.0367 1.0275-.3802 1.0643-.9313.0367-.551-.3802-1.0276-.9313-1.0643-7.3726-.4915-11.5404-2.4423-13.91356-5.3805-2.18369-2.7037-3.00481-6.42725-3.1342-11.18884l1.27415 1.27415c.39053.39053 1.02369.39053 1.41422 0 .39052-.39052.39052-1.02369 0-1.41421z"></path>
                    </symbol>
                </use>
            </svg>
                <p class="search_msg">Товарів не знайдено. Перейти на <a class="search_link_home" href="/">головну сторінку</a>. </p>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}