/*Info*/
#main-nav{
  position: static;
  width: 100%;
  background: $dark-color;
}
#main-nav .container{
  display: grid;
  grid-template-columns: 1.5fr 6fr 2fr;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}
/*Catalog*/
.nav-category{
  height: 100%;
  position: relative;
}
.btn-category{
  background: $primary-color;
  color: $white-color;
  cursor: pointer;
  width: 100%;

}
.nav-menu{
  display: none;
}
.nav-category i{
  top: 10%;
  font-size: 130%;
  border: 2px solid $white-color;
  padding: 3px 4px;
  border-radius: 6px;
}
.nav-category span {
  font-size: 18px;
}
.nav-category button{
  height: 100%;
  width: 100%;
  border-radius: unset;
}
/*Search*/
.search-group {
  margin: auto 65px;
  position: relative;
}
.form-src {
  position: relative;
}
.search-group .search{
  width: 100%;
  border: 0;
  border-radius: 0.375rem;
  padding: 0.755rem 0.75rem;
}
.search:focus{
  outline:none  !important;
  border-color: inherit;
}
.input-btn .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  border-radius: .375rem;
  padding: .755rem .75rem;
  background: transparent;
}
.form-src .search-btn::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 1.7rem;
  background-color: $light-gray ;
  top: 20%;
  left: -.125rem;
  //z-index: 2;

}
/*User-Menu*/
.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.user-menu > a > span{
  //text-decoration: underline;
  color: $white-color;

}
.user-menu > a > i {
  font-size: 12px;
  color: $light-gray;
}
.user-menu > a:hover > i{
  color: $white-color;
}
.user-enter {
  position: absolute;
  padding: 2em;
  display: none;
  width: 25em;
  height: auto;
  top: 100%;
  right: 0;
  background: $white-color;
  border: 1px solid $light-gray;
  border-radius: 6px;
  z-index: 3;
}
.user-account{
  position: absolute;
  padding: 0.5em;
  display: none;
  width: 14em;
  height: auto;
  top: 100%;
  right: 0;
  background: $white-color;
  border: 1px solid $light-gray;
  border-radius: 6px;
  z-index: 2;

}
.user-account > li > a {
  display: block;
  padding: 5px;
  width: 100%;
}
.user-account > li:hover{
  background: $link-back;
}
.user-account > li:hover > a{
  color: $link-color;
}
//.user-menu a:hover + .user-enter,
//.user-enter:hover,
//.user-menu a:hover + .user-account,
//.user-account:hover{
//  display: block;
//}
.user-enter-header{
  padding-bottom: 0.76em;
}
.form-label{
  margin-bottom: 4px;
}
.checkbox,
.form-input{
  margin-bottom: 8px;
}
.form-input{
  border: 1px solid $light-gray;
  border-radius: 6px;
  height: 40px;
  padding: 1px 12px;
}
.register-link{
  color: $link-color;
  font-size: 1.2em;
}
.register-link:hover{
  text-decoration: underline;
}
.user-sub-link{
  text-align: center;
}
.btn-login, .btn-register{
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  background-color: $secondary-color;
  color: $white-color;
  line-height: 1.3em;
  padding: 5px ;
  transition: 0.3s ease;
}
.btn-login:hover, .btn-register:hover{
  background-color: $dark-color;
}
#user-cab1 {
  display: inline-block;
}
#user-cab2 {
  display: none;
}
/*-----------Search-----------*/
.search-items{
  position: absolute;
  display: none;
  width: 100%;
  height: auto;
  top: 100%;
  left: 0;
  background: $white-color;
  z-index: 2;
  border: 0;
  padding: 0.755rem 0.75rem;
  border-top: 1px solid $light-gray;
}
.search-items > li > a{
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
  color: $black-color;
  width: 100%;
  padding-top: 0.310rem;
  padding-bottom: 0.310rem;
}
.search-items > li:hover{
  background-color: $light-gray;
}
/*-----------Search -end-----------*/

.side-nav{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  top: 0;
  left: 0;
  overflow-y: auto;

  opacity: 0;
  visibility: hidden;
}
.side-nav-content{
  background-color: #fff;
  color: #000;
  max-width: 300px;
  height: 100%;
  transition: all 0.5s ease 0s;
  transform:translate(-100%, 0%);
}
.side-nav.open .side-nav-content{
  transform: translate(0%, 0%);
  opacity: 1;
}
.nav-close{
  position: absolute;
  right: -35px;
  top: -8px;
  font-size: 30px;
  color: #fff;
}
.side-nav.open{
  opacity: 1;
  visibility: visible;
}
.menu-badge {
  display: block;
  position: absolute;
  top: 12%;
  right: 12%;
  text-align: center;
  min-width: 24px;
  height: 24px;
  background: $secondary-color;
  color: $dark-color;
  font-weight: bold;
  font-size: 13px;
  border-radius: 15px;
}
.nav-header a{
  font-weight: 700;
  font-size: 24px;
  font-family: 'Major Mono Display', monospace;
  color: #fff;
  padding: 10px 15px;
}
.nav-header {
  background-color: #000;
}
.menu-main_item{
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
}
.menu-main_link,
.menu-sup_link,
.menu-cat_link{
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 2px 16px;
  cursor: pointer;
  color: #000;
  position: relative;
}
.menu-sup li:first-child{
  border-top: 1px solid $light-gray;
}
.menu-main_link:hover,
.menu-sup_link:hover,
.menu-cat_link:hover,
.side-sub_cat:hover{
  color: $secondary-color;
}
.menu-cat > li {
  border-bottom: 1px solid $light-gray;
}
.menu-main_link span{
  font-size: 16px;
}
.menu-main_link i {
  margin-right: 12px;
  font-size: 24px;
}
.menu-main_link aside{
  margin-right: 15px;
}
.menu-cat_link{
  display: flex;
  justify-content: space-between;
}
.menu-cat_link .main_cat{
  font-size: 22px;
}
.menu-cat_collapsed{
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: all .5s ease-in-out;
  padding: 0 18px;
  font-size: 16px;
}
.menu-cat_collapsed ul{
  height: 0;
}
.cat_hei{
  padding-top: 3px;
}
.side-sub_cat{
  padding: 0 10px;
  font-size: 14px;
}

@media screen and (max-width: 1200px){
  #user-cab1{
    display: none;
  }
  #user-cab2 {
    display: inline-block;
    font-size: 12px;
  }
  #main-nav .container{
    grid-template-columns: 2fr 5fr 2fr;
  }
}

@media screen and (max-width: 991px){
  .exit-account{
    display: none;
  }
  body {
    margin-top: 50px;
  }
  #user-cab2 {
    display: inline-block;
    font-size: 10px;
  }
  #main-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #main-nav .container{
    grid-template-columns: 1fr 6fr 2fr;
    height: 50px;
  }
  .nav-category{
    display: none;
  }
  .nav-menu{
    display: flex;
    height: 100%;
  }
  .side-menu__toggler{
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    margin-right: 10px ;
    position: relative;
  }
  .side-menu__toggler i {
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 30%;
  }
  .search-group {
    margin: auto 5px;
  }
}
@media screen and (max-width: 768px){
  .compare-head{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: xx-small;
  }
}

@media screen and (max-width: 440px){
  .user-menu > a > span{
    display: none;
  }
}
@media screen and (max-width: 350px){
  #user-cab2 {
    display: inline-block;
    font-size: 0;
  }
}
