* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
body {
  background: $white-color;
  color: $dark-color;
  line-height: 1.6;
}
body.lock{
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  color: $dark-color;
  text-decoration: none;
}
h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
.py-1 { padding: 1rem 0}
.py-2 { padding: 2rem 0}
.py-3 { padding: 3rem 0}
.p-1 { padding: 1rem}
.p-2 { padding: 2rem}
.p-3 { padding: 3rem}
.mt { margin-top: 0.5rem}

.list li {
  padding: .5rem 0;
}
.list li a:hover {
  color: $dark-color !important;
}

/* major-mono-display-regular - latin */
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/major-mono-display-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/major-mono-display-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/major-mono-display-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/major-mono-display-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/major-mono-display-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/major-mono-display-v5-latin-regular.svg#MajorMonoDisplay') format('svg'); /* Legacy iOS */
}


/*Header*/
header{
  position: static;
  top: 0;
  z-index: 3;
  background: $white-color;
  color: $black-color;
}
header .container{
  display: grid;
  grid-template-columns: 4fr 7fr 3fr 2fr;
  align-items: center;
  grid-gap: 1rem;
  height: 150px;
  padding: 0 30px;
}
.info a:hover{
  color: $link-color;
  text-decoration: underline;
}
header .info a {
  color: $dark-color;
  text-decoration: none;
  padding: 10px 13px;
  margin: 0 3px;
  font-weight: 800;
  font-size: 21px;
}

/*Logo*/
header .logo {
  justify-self: start;
}
.logo-img {
  width: 41px;
  height: 50px;
}
.logo a{
  font-weight: 300;
  font-size: 39px;
  font-family: 'Major Mono Display', monospace;
}
/*Nav-Icons*/
header .nav-icons {
  justify-self: end;
  display: flex;
}
header .nav-icons li a{
  padding: 1.25rem;
}
.nav-icons li a i{
  font-size: 25px;
  color: $secondary-color;
}
.nav-icons li a i:hover{
  cursor: pointer;
}
.nav-icons li a {
  cursor: auto;
}
.choose-icons {
  position: relative;
}
.badge {
  display: block;
  position: absolute;
  top: 12%;
  right: 12%;
  text-align: center;
  min-width: 21px;
  height: 21px;
  background: $dark-color;
  color: $white-color;
  font-weight: bold;
  font-size: 13px;
  border-radius: 15px;
}
/*Phone number*/
header .phone-container {
  justify-self: end;
  display: flex;
}
.phone-list{
  position: relative;
}
.phone-list .kievstar::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: url("../../images/kievstar.png") no-repeat;
  top: 8%;
  left: -1.5rem;
}
.phone-list .vodafone::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: url("../../images/vodafone.png") no-repeat;
  top: 58%;
  left: -1.5rem;
}

@media screen and (max-width: 1300px){
  header .container{
    grid-template-columns: 4fr 8fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
  }
  header .info a {
    font-size: 16px;
    padding: 10px 10px;
  }
  .logo a{
    font-size: 31px;
  }
  .logo-img {
    width: 39px;
    height: 48px;
  }
  header .logo {
    grid-row: 1 / span 2;
  }
  header .info{
    grid-row: 1 / span 3;
  }
  header .nav-icons {
    grid-row: 2 / span 2;
  }
  header .phone-container {
    grid-row: 1 / span 1;
  }
}
@media screen and (max-width: 991px){
  header .container{
    display: none;
  }
  .logo-img {
    width: 34px;
    height: 40px;
    margin-top: 5px;
  }
}