@import "helper/variables";

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import "layout/header";
@import "layout/footer";

@import "components/util";
@import "components/navbar";
@import "components/category";
@import "components/content";


@media screen and (max-width: 768px){
  .layout .cat-container{
    grid-template-columns: 1fr;
    grid-column-gap: .25rem;
    width: auto;
  }
  #main-footer .footer-container {
    display: block;
  }
}