@import "helper/variables";
//.whole-cart{
//    margin: 0 15vw;
//}
.cart-products .cart-product_item{
    display: grid;
    grid-template-columns: 15% 40% 20% 20% 5%;
}
.cart-product_item{
    margin-bottom: 15px;
    border-bottom: 1px solid $light-gray;
}
.item-img{
    width: 100%;
    //max-width: 130px;
    //max-height: 100px;
    //min-width: 130px;
}
.item-price{
    margin: 5px 0;
}
.cart-price{
    padding: 5px;
    background-color: $link-back2;
    font-size: 1.3em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.cart-amount{
    padding: 28px 0;
}
.total-price-item{
    padding: 20px 0;
}
.cart-amount input{
    width: 30px;
    height: 30px;
    padding: 2px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid $light-gray;
}
.cart-amount input:active,
.cart-amount input:focus{
    border: 1px solid green;
}
.minus, .plus{
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding: 5px;
}
.total-price{
    font-size: 1.6em;
}
.delete-item{
    position: relative;
}
.btn-remove{
    top: 6px;
    right: 6px;
    width: 32px;
    height: 32px;
    background-color: transparent;
}
.btn-remove i {
    font-size: 16px;
}
.cart-purchase{
    margin-bottom: 40px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.btn-back{
    background-color: $btn-sec-color;
    color: $white-color;
}
.btn-back:hover{
    background-color: $btn-sec-hover;
}
.btn-back,
.btn-checkout{
    display: block;
    width: 192px;
    height: 40px;
}
.checkout-price{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 65% 35%;
    font-size: 1.6em;
}
.body-check{
    grid-column: 2 / span 2;
}
.body-check > div{
    display: flex;
    justify-content: space-between;
}
.word-adp{
  display: inline-block;
}

.body-info{
  padding-top: 35px;
}
.body-info h1{
  padding-top: 20px;
  font-size: 30px;
}

.body-info p{
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
}
.body-info h1 > a{
  color: #a5c965;
  text-decoration: none;
}

.body-info h1 > a:hover{
  color: #0e8fda;
}

@media screen and (max-width: 1400px){
  .checkout-price{
    grid-template-columns: 60% 40%;
  }
  .cart-products .cart-product_item{
    display: grid;
    grid-template-columns: 20% 35% 20% 20% 5%;
  }
}
@media screen and (max-width: 1200px){

  .checkout-price{
    grid-template-columns: 53% 47%;
  }
  .cart-products .cart-product_item{
    display: grid;
    grid-template-columns: 23% 32% 20% 20% 5%;
  }
}
@media screen and (max-width: 991px){
    .cart-head{
        margin-top: 20px;
    }
  .checkout-price{
    grid-template-columns: 35% 65%;
  }
  .cart-products .cart-product_item{
    display: grid;
    grid-template-columns: 30% 62% 8%;
    grid-template-rows: auto;
  }
  .cart-amount, .total-price-item{
    grid-row: 2 / span 2;
  }
  .cart-amount{
    padding: 10px 0 0 10px;
  }
  .total-price-item{
    padding: 3px 0 0 0;
  }
  .total-price{
    display: grid;
    justify-items: end;
  }
  .delete-item{
    display: grid;
    grid-column: 5 /span 5;
  }
  .item-price{
    display: none;
  }
  .body-info p{
    padding-top: 10px;
  }
  .body-info h1{
    padding-top: 10px;
  }
}
@media screen and (max-width: 768px){
  svg{
    width: 150px;
    height: 150px;
  }
  .body-info h1{
    font-size: 20px;
  }
  .body-info p{
    font-size: 30px;
  }
  .checkout-price{
    grid-template-columns: 0 100%;
    font-size: 1.35em;
    padding: 0;
  }
  .whole-cart{
    margin: 0 1vw;
  }
  .cart-products .cart-product_item{
    grid-template-columns: 35% 57% 30px;
  }
  .btn-back,
  .btn-checkout{
    width: 158px;
    height: 35px;
  }
  .word-adp{
    display: none;
  }
  .cart-head{
    font-size: xx-small;
  }
}
@media screen and (max-width: 450px){
  .body-info h1{
    font-size: 15px;
  }
  .body-info p{
    font-size: 22px;
  }
  svg{
    width: 100px;
    height: 100px;
  }
  //.cart-products .cart-product_item{
  //  grid-template-columns: 135px 57% 8%;
  //}
  .btn-back,
  .btn-checkout{
    width: 100%;
    height: 35px;
  }
  .whole-cart{
    font-size: x-small;
  }
  .cart-amount input{
    height: 20px;
  }
  .minus, .plus {
    font-size: 14px;
  }
}