@import "helper/variables";

/*-----------Slider-----------*/
.slide-container{
    margin-top: 15px;
    grid-area: slide-container;
}
/* сам слайдер */

.slider{
    padding-left: 10px;
    width: auto;
    position: relative;
    height: 450px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    max-height: 450px;
    border: none;
    box-shadow: none;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 6px;
    width: 40px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 10%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: $secondary-color;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*-----------Slider-end-----------*/


/*-----------Product-----------*/
.layout .product{
    margin-top: 0.25rem;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: .5rem;
    margin-left: .5rem;
    margin-bottom: 50px;
    grid-area: product;
}
/*-----Headers-Product-----*/
.head-products-filters{
    width: auto;
    margin-left: .5rem;
    grid-area: head-products-filters;
    padding: 0.6rem 1.4rem 0.6rem 0.6rem;
    max-height: 52px;
}
.head-filters{
    display: flex;
    justify-content: flex-end;
}
.head-filters option {
    outline: none;
}
.head-sort, .head-limit{
    border: 1px solid $light-gray;
    margin-left: 8px;
    border-radius: 4px;
    height: 32px;
    padding-left: 10px;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/br_down.webp");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-color: $white-color;
    background-size: 12px 12px;
}
/*-----Headers-Product-----*/
/*style*/
.card:hover {
    box-shadow: 0 0 27px 0 rgba(0,0,0,1);
}
.product-img {
    margin-bottom: 10px;
}
.card-img{
    width: 310px;
    height: 217px;
}
.card-comment {
    line-height: 1;
    font-size: 14px;
}
.card-comment > a {
    font-size: .8rem;
    color: #3e77aa;;
}
.card-comment > a:hover {
    color: #f84147;
    text-decoration: underline;
}
.card-title > a {
    line-height: 1.2;
    font-size: 1.2rem;
}
/*Button Buy*/
.card-buy > .buy-btn{
    width: 98%;
    height: 100%;
}
.card-buy > .buy-btn > i{
    font-size: 20px;
}
.card-buy > .buy-btn > span{
    padding-left: 3px;
    font-size: 18px;
}
/*Button Buy-end*/
.wish {
    width: 32px;
    height: 32px;
}
.wish i {
    padding-top: 2px;
    font-size: 19px;
}
.compare {
    width: 32px;
    height: 32px;
}
.compare i {
    padding-top: 2px;
    font-size: 18px;
}
/*-----------Product-end-----------*/
/*-----------Filter-Product-----------*/
.noUi-horizontal{
    height: 8px;
}
.noUi-connect{
    background-color: $secondary-color;
}
.noUi-horizontal .noUi-handle{
    background-color: $white-color;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.noUi-handle::before, .noUi-handle::after{
    display: none;
}
.filter-price{
    margin-top: 15px;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
}
.filter-price-label{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 5px;
    width: 100%;
}
.price-block{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.price-block > input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.noUi-handle,
.noUi-handle:active,
.noUi-handle:focus,
.noUi-active,
.noUi-active:active,
.noUi-active:focus {
    outline: none;
}

#price-slider{
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    margin-bottom: 20px;
}
.price-input{
    padding: 4px 15px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    height: 40px;
    width: 8rem;
    overflow: hidden;
}
.sidebar-block > .menu{
    display: flex;
    justify-content: space-between;
}
.sidebar-block{
    border-bottom: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
}
.menu{
    text-align: left;
    padding: 3px 8px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    background-color: transparent;
}
.menu:hover{
    color: $primary-color;
    text-decoration: underline;
}
.menu:hover .filter-arrowup::before, .menu:hover .filter-arrowdn::before{
    border-color: $primary-color;
}
.menu-collapsed{
    padding: 3px 8px 20px 8px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.menu-collapsed > div > .option > input[type="checkbox"]:not(:checked),
.menu-collapsed > div > .option > input[type="checkbox"]:checked,
.menu-collapsed > div > .option-dis > input[type="checkbox"]:not(:checked),
.menu-collapsed > div > .option-dis > input[type="checkbox"]:checked{
    display: none;
}
.menu-collapsed > div > .option > input[type="checkbox"]:not(:checked) + label,
.menu-collapsed > div > .option > input[type="checkbox"]:checked + label,
.menu-collapsed > div > .option-dis > input[type="checkbox"]:not(:checked) + label,
.menu-collapsed > div > .option-dis > input[type="checkbox"]:checked + label{
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}
/* checkbox aspect */
.menu-collapsed > div > .option > input[type="checkbox"]:not(:checked) + label:before,
.menu-collapsed > div > .option > input[type="checkbox"]:checked + label:before,
.menu-collapsed > div > .option-dis > input[type="checkbox"]:not(:checked) + label:before,
.menu-collapsed > div > .option-dis > input[type="checkbox"]:checked + label:before{
    content: '';
    position: absolute;
    left: 0; top: .20em;
    width: 0.95em; height: 0.95em;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.menu-collapsed > div > .option > input[type="checkbox"]:not(:checked) + label:after,
.menu-collapsed > div > .option > input[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .28em; left: .10em;
    font-size: 1.2em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;

}
/* checked mark aspect changes */
.menu-collapsed > div > .option > input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.menu-collapsed > div > .option > input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* hover style just for information */
.menu-collapsed > div > .option > label:hover:before {
    border: 2px solid $black-color!important;
}
.menu-collapsed > div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow: hidden;
    max-height: 200px;
}
.option, .option-dis {
    position: relative;
}

.option > span, .option-dis > span{
    position: absolute;
    top: 0;
    right: 10px;
    color: $light-gray;
}
.option > label, .option-dis > label {
    width: 80%;
    display: block;
}
.option-dis > label{
    color: $light-gray;
}
.op-hover:hover{
    background-color: $filter-hover;
}
#side-filt{
  display: none;
}
#side-label{
    display: none;
}
/*-----------Filter-Product-end-----------*/
/* PAGINATION */
.center-lister{
    display: flex;
    justify-content: center;
    grid-area: pagerfanta;
    margin-bottom: 30px;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $black-color;
    background-color: $white-color;
    border: 1px solid $light-gray;
}

.page-link:hover {
    z-index: 2;
    text-decoration: none;
    background-color: $secondary-color;
    border-color: $gray-color;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: $black-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.el-filter{
    display: none;
}
/*-----------Page-Content-Loading-----------*/
@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: 0.5em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.is-loading::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 4;
}
.is-spinner .spinner-border{
    position: fixed;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
}

@media screen and (max-width: 1585px){
  .slider, .slide-container{
    width: 1230px;
  }
}
@media screen and (max-width: 1555px){
  .card-img{
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1525px){
  .slider, .slide-container{
    width: 1170px;
  }
}
@media screen and (max-width: 1470px){
  .slider, .slide-container{
    width: 1115px;
  }
}
@media screen and (max-width: 1410px){
  .slider, .slide-container{
    width: 1055px;
  }
}
@media screen and (max-width: 1350px){
  .slider, .slide-container{
    width: 995px;
  }
}
@media screen and (max-width: 1290px){
  .slider, .slide-container{
    width: 930px;
  }
}
@media screen and (max-width: 1230px){
  .slider, .slide-container{
    width: 870px;
  }
  .layout .product{
    grid-template-columns: repeat(3, 32%);
  }
}
@media screen and (max-width: 1160px){
  .slider, .slide-container{
    width: 810px;
  }
}
@media screen and (max-width: 1100px){
  .slider, .slide-container{
    width: 750px;
  }
}
@media screen and (max-width: 1050px){
  .slider, .slide-container{
    width: 700px;
  }
}
@media screen and (max-width: 991px){
  .layout .container{
      display: block;
      grid-template-columns: 1fr;
      grid-column-gap: .25rem;
      width: auto;
      grid-template-areas:
              "slide-container"
              "head-products-filters"
              "product"
              "pagerfanta"
              ".";

      grid-template-rows: 520px auto auto auto auto ;
      position: relative;
  }
  .slider, .slide-container{
      width: auto;
      height: auto;
  }
  .side-bar {
    position: fixed;
    left: -260px;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    transition: all .5s ease;
    z-index: 5;
  }
  #side-label{
    display: block;
  }
  label #filt{
    position: fixed;
    cursor: pointer;
    z-index: 5;
  }
  label #filt{
    left: 5px;
    top: 55px;
    font-size: 20px;
    background-color: $secondary-color;
    padding: 10px;
    transition: all .5s;
    text-align: center;
  }

  #side-filt:checked ~ .side-bar{
    left: 0;
  }
  #side-filt:checked ~ label #filt{
    left: 260px;
  }
}
@media screen and (max-width: 768px){
  .layout .product{
    grid-template-columns: repeat(2, 49%);
  }
}
@media screen and (max-width: 520px){
  .buy-btn i{
    display: none;
  }
  .layout .container{
    display: flow-root;
  }
  .product-img {
    margin-bottom: 0;
  }
    .head-filters {
        justify-content: center;
    }

}
@media screen and (max-width: 500px) {
    .buy-btn i {
        display: none;
    }
    .card-buy > .buy-btn > span {
        padding-left: 0;
         font-size: 12px;
    }
    .layout .container {
        display: flow-root;
    }
    .product-img {
        margin-bottom: 0;
    }
    .card-buy > .buy-btn {
        width: 75%;
        height: 25px;
    }
    .card-title > a {
        font-size: 12px;
    }

    .card-price, .card-price-discount {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 450px) {
    li.page-item {
        display: none;
    }
    .page-item:first-child,
    .page-item:nth-child(3),
    .page-item:nth-last-child(2),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {
        display: block;
    }
    .card-comment{
        font-size: 8px;
    }
    .card-comment > a{
        font-size: 8px;
    }
}
@media screen and (max-width: 350px) {
    .pagination {
        font-size: 12px;
    }
    .head-sort, .head-limit {
        font-size: x-small;
    }
    .card-buy > .buy-btn {
        width: 80%;
        height: 20px;
    }
}

/*-----------Page-Content-Loading-end-----------*/