@import "helper/variables";

.layout .side-container{
  margin-top: 0.25rem;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: .5rem;
  margin-left: .5rem;
  margin-bottom: 50px;
  grid-area: side-container;
}
.category-card:hover {
  box-shadow: 0 0 12px 0 rgba(0,0,0,1);
}
.category-card{
  max-height: 320px;
}
.category-img {
  margin-bottom: 10px;
}

.breadcrumb{
  list-style: none;
  display: flex;
  height: 45px;
  padding: 10px 10px;
  margin-bottom: 10px;
  grid-area: breadcrumb;
}
.breadcrumb > li{
  position: relative;
  display: inline-block;
  padding-right: 20px;
}
.breadcrumb > li::before{
  content: '';
  display: block;
  position: absolute;
  top: 53%;
  width: 5px;
  height: 5px;
  transform: translateY(-50%) rotate(45deg);
  right: 10px;
  border-right: 1px solid $dark-color;
  border-top: 1px solid $dark-color;
}
.breadcrumb > li i, .breadcrumb > li a{
  color: $link-color;
}
.breadcrumb > li:hover, .breadcrumb > li:hover a, .breadcrumb > li:hover i {
  color: $primary-color;
  text-decoration: underline;
}
.breadcrumb > li:last-child::before, .breadcrumb > li:hover i, .breadcrumb > li:last-child:hover{
  border: none;
  text-decoration: none;
  color: unset;
}
.cat-container {
  height: 80vh;
}
@media screen and (max-width: 1200px){
  .category-card {
    max-height: 220px;
  }
}
@media screen and (max-width: 768px){
  .layout .side-container {
    grid-gap: 10px;
  }
  .category-title{
    font-size: 15px;
  }
}