@import "helper/variables";

.container.table-compare{
    display: grid;
    grid-template-columns: 10% 22.5% 22.5% 22.5% 22.5%;
}
.table-compare{
    width: 100%;
    margin-bottom: 30px;
}
table, th, td{
    border-collapse: collapse;
}
table tbody tr td{
    border-right: 1px solid $light-gray;
}
table tbody tr:first-child td{
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
}
table tbody tr:last-child td{
    border-bottom: 1px solid $light-gray;
}
table tbody tr:not(:first-child) td{
    padding: 7px 15px;
}
table tbody tr:not(:first-child):hover td{
    background-color: $link-back2;
}
.table-head{
    padding: 8px 8px 8px 0;
}
.action-btn > td{
    padding: 5px;
}
/*-----------------------Main-Info-----------------------*/
.price-field{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.card-old-price{
    grid-column: unset;
    text-align: right;
    line-height: 2.3rem;
    padding: 0 1rem;
}
.card-old-price > s{
    font-size: 1rem;
}
.card-title,
.card-price,
.card-buy{
    text-align: center;
}
.card-price-discount{
    text-align: left;
    padding: 0 1rem;
}
.main-info{
    padding: 15px;
}
.main-info img {
    width: 345px;
    height: 238px;
}
.card-title > a {
    line-height: 1.2;
    font-size: 1.2rem;
    font-weight: 500;
}
.card-title {
    padding: 0;
}
.card-buy{
    margin-top: 10px;
    padding-right: 0;
}
/*-----------------------Main-Info-end-----------------------*/
/*-----------------------Buttons-----------------------*/
.btn-clear {
    width: 192px;
    height: 40px;
    float: left;
}
.buy-btn{
    padding: 5px;
    width: 80%;
    height: 35px;
}
.buy-btn > i{
    font-size: 18px;
}
.buy-btn > span{
    font-size: 18px;
}
.img-thumbnail{
    position: relative;
}
.btn-remove{
    top: -13px;
    right: -13px;
    width: 30px;
    height: 30px;
}
.btn-remove i {
    font-size: 13px;
}
/*-----------------------Buttons-end-----------------------*/





























