@import "helper/variables";

.container.table-compare{
    display: grid;
    grid-template-columns: 10% 22.5% 22.5% 22.5% 22.5%;
}
.table-compare{
    width: 100%;
    margin-bottom: 30px;
}
.table-compare table{
  min-width: 700px;
}
.container_compare{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.body-info h1{
  padding-top: 20px;
}
.body-info p{
  font-size: 40px;
  font-weight:bold;
  padding-top: 20px;
}
.body-info h1 > a{
  color: #a5c965;
  text-decoration: none;
}
table, th, td{
    border-collapse: collapse;
}
table tbody tr td{
    border-right: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
}
table tbody tr:first-child td{
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
}
.adaptive td:first-child:nth-last-child(2) ~ td{
  max-width: 432px;
}
.adaptive td:first-child:nth-last-child(3) ~ td,
.adaptive td:first-child:nth-last-child(4) ~ td,
.adaptive td:first-child:nth-last-child(5) ~ td{
  max-width: 351px;
}
.adaptive td:first-child:nth-last-child(4) ~ td{
  width: 33%;
}
.adaptive td:first-child:nth-last-child(5) ~ td{
  width: 25%;
}
table tbody tr:first-child td:first-child strong{
  padding-left: 7px;
}
table tbody tr:last-child td{
    border-bottom: 1px solid $light-gray;
}
table tbody tr:not(:first-child) td{
  padding: 5px;
  font-size: 12px;
}
table tbody tr:not(:first-child):hover td{
    background-color: $link-back2;
}
.table-head{
    padding: 8px 8px 8px 0;
}
.action-btn > td{
    padding: 5px;
}
/*-----------------------Main-Info-----------------------*/
.price-field{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.card-old-price{
    grid-column: unset;
    text-align: right;
    line-height: 2.3rem;
}
.card-old-price > s{
    font-size: 1rem;
}
.card-title,
.card-price,
.card-buy{
    text-align: center;
}
.card-buy a {
  color: white;
}
.card-price-discount{
    text-align: left;
}
.main-info{
    padding: 15px;
  width: 100%;
}
.main-info img {
  width: auto;
  //height: 100%;
}
.card-title > a {
    line-height: 1.2;
    font-size: 1.2rem;
    font-weight: 500;
}
.card-buy{
    margin-top: 10px;
    padding-right: 0;
}
/*-----------------------Main-Info-end-----------------------*/
/*-----------------------Buttons-----------------------*/
.btn-clear {
    width: 192px;
    height: 40px;
    float: left;
}
.buy-btn{
    padding: 5px;
    width: 80%;
    height: 35px;
}
.buy-btn > i{
    font-size: 18px;
}
.buy-btn > a{
    font-size: 18px;
}
.img-thumbnail{
    position: relative;
    text-align: center;
}
.btn-remove{
    top: -13px;
    right: -13px;
    width: 30px;
    height: 30px;
}
.btn-remove i {
    font-size: 13px;
}
/*-----------------------Buttons-end-----------------------*/
@media screen and (max-width: 1006px){
  .card-price, .card-price-discount{
    font-size: 1rem;
  }
  .card-old-price {
    line-height: unset;
  }
  .body-info p{
    font-size: 30px;
  }
  .body-info h1 {
    font-size: 20px;
  }
  .main-info img{
    width: 100%;
  }
}
@media screen and (max-width: 991px){
    .compare-head{
      margin-top: 20px;
    }
  .card-buy button i{
    display: none;
  }
  .card-title > a {
    font-size: 1rem;
  }
  .body-info p{
    padding-top: 10px;
  }
  .body-info h1{
    padding-top: 10px;
  }
}
@media screen and (max-width: 768px){
  .logo_compare svg{
    width:150px;
    height:150px;
  }
  .body-info p{
    font-size: 25px;
  }
  .body-info h1{
    font-size: 18px;
  }
  .main-info{
    padding: 5px;
  }
  .card-old-price{
    display: none;
  }
  .card-price, .card-price-discount{
    text-align: center;
  }
  .price-field{
    display: block;
  }
  .table-compare table{
    min-width: 200px;
  }
  .logo_compare svg{
    width:120px;
    height:120px;
  }
}
@media screen and (max-width: 600px) {
  .buy-btn > span {
    font-size: 13px;
  }
  .card-title{
    font-size: 8px;
  }
  .buy-btn{
    width: 80px;
  }
  .compare-head{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: xx-small;
  }
  .btn-clear{
    height: 27px;
  }
}

@media screen and (max-width: 550px){
  .body-info p{
    font-size: 20px;
  }
  .container-context{
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .card-title{
    display: none;
  }
  .buy-btn{
    width: 60px;
  }
  .buy-btn > a {
    font-size: 16px;
  }
  table {
    table-layout: fixed;
    width: 450px;
  }
  table tbody tr:not(:first-child) td{
    font-size: 8px;
  }
  .card-title {
    font-size: 5px;
  }
  table tbody tr:first-child td:first-child strong{
    padding-left: 0;
  }
  table tbody tr:first-child td {
    font-size: 8px;
  }
  .btn-clear {
    font-size: 8px;
    width: 100px;
  }
  .btn-remove {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 450px) {
  table {
    table-layout: fixed;
    width: 400px;
  }
  .buy-btn > span {
    font-size: 8px;
  }
  .card-title span{
    font-size: 10px;
  }
  .card-title > a {
    font-size: 0.5rem;
  }
  .card-price , .card-price-discount{
    font-size: 8px;
    padding: 0;
  }
  .card-buy {
    margin-top: 0;
  }
  .btn-remove {
    width: 18px;
    height: 18px;
  }
  .buy-btn{
    width: 40px;
  }
  .buy-btn > a {
    font-size: 8px;
  }
  .buy-btn {
    padding: 0 0 20px 0;
    height: 10px;
  }
}
@media screen and (max-width: 400px) {
  table {
    table-layout: fixed;
    width: 350px;
  }
  table tbody tr:not(:first-child) td{
    font-size: 6px;
  }
  .buy-btn > a {
    font-size: 6px;
  }
  .buy-btn {
    padding: 0 0 20px 0;
    height: 5px;
  }
}
@media screen and (max-width: 350px) {
  table {
    table-layout: fixed;
    width: 320px;
  }
  .btn-remove {
    width: 14px;
    height: 14px;
  }
  .btn-remove i {
    font-size: 10px;
  }
}



















