@import "helper/variables";

.container .checkout{
    display: grid;
    grid-template-columns: 6fr 4fr;
}
.check-head{
    display: flex;
}
.form-input{
    margin-right: 20px;
}
.check-info{
    grid-column: 1 / span 1;
}
.checkout-form .checkout-contact,
.checkout-form .checkout-delivery{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}
.checkout-form .checkout-delivery{
    grid-template-rows: auto auto;
}
.checkout-form > h3{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}
.checkout-delivery,
.checkout-contact,
.checkout-pay{
    margin-bottom: 50px;
}
.delivery, .pay{
    border-top: 1px solid $light-gray;
}
.h-lable{
    max-height: 26px;
}
.form-checkbox{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: 26px;
}
.form-pay-checkbox{
    display: grid;
    grid-template-columns: 10% 90%;
}
.form-checkbox > input,
.form-pay-checkbox > input {
    margin-top: 8%;
}
.cart-check{
    grid-column: 2 / span 2;
}
.cart-item, .cart-footer{
    border: 2px solid $white-gray;
}
.cart-item{
    margin-top: 45px;
}
.cart-item .cart-product_item{
    display: grid;
    grid-template-columns: 25% 55% 20%;
}
.item-img{
    width: 100%;
    max-width: 150px;
    max-height: 120px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.item-stuff input{
    width: 25px;
    height: 25px;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid $white-gray;
}
.total-price{
    font-size: 1.6em;
    margin-bottom: 10px;
}
.btn-remove{
    font-size: 1.2em;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 600;
}
.cart-footer{
    display: grid;
    grid-template-columns: 58% 42%;
    min-height: 120px;
    background-color: $white-gray;
}
.total-quantity{
    display: flex;
}
.total-quantity span:first-child {
    padding-right: 5px;
}
.total-sum{
    display: flex;
    justify-content: space-between;
}
.total-quantity{
    color: $gray-color;
    font-size: 1.1em;
    margin: auto 0;
    font-weight: 600;
    padding-left: 25px;
}
.total-sum > span:first-child{
    font-size: 1.2em;
    margin: auto 0;
    font-weight: 600;
}
.total-sum > span:last-child{
    font-size: 1.6em;
    margin: auto 0;
    padding-right: 15px;
}
.check-total{
    grid-column: 2 / span 2;
    margin: auto 0;
    height: 50px;
}
.btn-confirm{
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
    background-color: $white-color;
    border: 2px solid $light-gray;
    transition: 0.3s ease;
}
.btn-confirm:hover{
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    color: $white-color;
}
.btn-confirm:active{
    transform: translateY(2px);
    transition: none;
}
#nova-poshta, #sub-info-help{
    display: none;
}
.novaposhta-delivery{
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #b9b9b9;
    padding: 15px;
    background-color: #f2f2f2;
    grid-row: 1 / span 2;
    max-height: 500px;
}
.novaposhta-delivery .np-head img {
    display: block;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
}
.novaposhta-delivery .np-head{
    margin: 0 0 15px;
}
.novaposhta-delivery .np-content label{
    margin: 0 0 10px;
    display: block;
}
.custom-autocomplete {
    position: relative;
}
.novaposhta-delivery .np-content input,
.novaposhta-delivery .np-content select {
    width: 100%;
    height: 40px;
    padding: 5px;
}
.novaposhta-delivery .np-content ul,
.custom-autocomplete ul{
    width: 100%;
}
.custom-autocomplete ul {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.1);
    padding: 5px 10px;
}
.custom-autocomplete ul li:hover{
    background: $link-back;
    color: $link-color;
}
.novaposhta-delivery .np-content .delivery-information .schedule{
    margin: 10px 0;
    display: flex;
}
.novaposhta-delivery .np-content .delivery-information span{
    color: #ec3239;
}