.container .thanks-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.thanks-container{
    width: 1000px;
    margin: 100px auto auto;
}
.smile-circle{
    width: 200px;
    height: 200px;
    border: 3px solid #179631;
    border-radius: 50%;
    text-align: center;
    line-height: 190px;
}
.smile{
    font-size: 60px;
}
@media screen and (max-width: 991px){
  .container .thanks-container{
    grid-template-columns: 220px 1fr;
  }
  .thanks-container{
    width: 100%;
  }
  .thanks-message h4:first-child{
    margin-top: 5px;
  }
  .smile-circle{
    width: 180px;
    height: 180px;
    line-height: 170px;
  }
}
@media screen and (max-width: 768px){
  .smile-circle{
    width: 160px;
    height: 160px;
    line-height: 150px;
  }
}