.wrappers_wish{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-container{
    margin-left: 20px;
    height: auto;
    min-height: 60vh;
  width: 1000px;
  padding: 0 2rem;
}
.user-container .wish-products{
    //display: grid;
    //grid-template-columns: repeat(4, 25%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.wish-products > .card{
    width: 312px;
    margin-bottom: 15px;
}
.wish-products{
    margin-bottom: 50px;
}
.btn-remove{
    top: 6px;
    right: 6px;
    width: 32px;
    height: 32px;
}
.btn-remove i {
    font-size: 14px;
}
.btn-sup{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
  padding: 0 2rem;
}
.btn-clear, .btn-back{
    width: 192px;
    height: 40px;
}
.container-wish-empty{
  width: 1000px;
}
.body-info h1{
  font-size: 25px;
}
.body-info p{
  font-size: 20px;
}

@media screen and (max-width: 1535px){
  .user-container{
    margin: 0 auto;
  }
  .container .profile{
    grid-template-columns: 1fr;
  }
  //.wish-products > .card {
  //  width: 100%;
  //}
}
@media screen and (max-width: 1400px) {
  .user-container {
    width: 800px;
  }
}
@media screen and (max-width: 1278px) {
  .user-container {
    width: 700px;
  }
  .container-wish-empty{
    width: 700px;
  }
  .body-info h1{
    font-size: 20px;
  }
  .body-info p{
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  //.user-container{
  //  width: 800px;
  //}
  .btn-clear, .btn-back {
    width: 130px;
    height: 30px;
  }
}
@media screen and (max-width: 768px){
  .body-info p {
    padding-top: 10px;
    font-size: 22px;
  }
  svg {
    width: 120px;
    height: 120px;
  }
  .body-info h1 {
    font-size: 18px;
  }
  .btn-clear, .btn-back {
    width: 130px;
    height: 30px;
  }
  .compare-head{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: xx-small;
  }
  .container-wish-empty{
    width: auto;
  }
  .body-info h1{
    font-size: 16px;
  }
  .body-info p{
    font-size: 12px;
  }
  .user-container{
    width: auto;
  }
}
@media screen and (max-width: 450px){
  .wish-products > .card {
    width: 250px;
  }
  .container-context{
    padding: 0;
  }
}

@media screen and (max-width: 400px){
  .wish-products > .card {
    width: 180px;
  }
  .compare-head{
    margin: 0;
  }
  .compare-head h2{
    font-size: 14px;
  }
}