.user-container{
    margin-left: 20px;
    height: auto;
    min-height: 60vh;
}
.user-container .wish-products{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.wish-products > .card{
    width: 312px;
    margin-bottom: 15px;
}
.wish-products{
    margin-bottom: 50px;
}
.btn-remove{
    top: 6px;
    right: 6px;
    width: 32px;
    height: 32px;
}
.btn-remove i {
    font-size: 14px;
}
.btn-sup{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.btn-clear, .btn-back{
    width: 192px;
    height: 40px;
}

@media screen and (max-width: 1535px){
  .profile > ul {
    display: none;
  }
  .user-container{
    margin: 0 auto;
  }
  .container .profile{
    grid-template-columns: 1fr;
  }
  .wish-products > .card {
    width: 100%;
  }
}
@media screen and (max-width: 1200px){
  .user-container .wish-products{
    grid-template-columns: repeat(3, 33%);
  }
  .btn-sup {
    padding-right: 5px;
  }
}
@media screen and (max-width: 768px){
  .user-container .wish-products{
    grid-template-columns: repeat(2, 49%);
  }
}
@media screen and (max-width: 450px){
  .user-container .wish-products{
    grid-template-columns: 1fr;
  }
}